body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    padding: 20px 30px;
    font-size: 25px;
    background-color: cadetblue;
    text-shadow: 5px 5px rgba(0, 0,0,0.5);
    color: lime;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px rgba(137, 137, 80, 0.5);
}